<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /JBKK_TEST/public/

    # Prevent directory listings
    Options -Indexes

    # Serve existing files directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Rewrite all requests to index.php except for specific files and directories
    RewriteCond %{REQUEST_URI} !^/assets/.*
    RewriteRule ^ index.php [L]
</IfModule>
